<template>
  <header class="c-header width-100 padding-bottom-0">
    <div class="grid-container position-relative">
      <nav class="c-nav width-100">
        <div class="c-nav__left flex-container align-center-middle">
          <figure class="c-brand c-brand--normal flex-container align-center-middle">
            <a class="c-brand__link" :href="context.site.url">
              <img class="c-brand__image" :src="asset('images/logo.png')" alt="Panda WP - Logo" />
            </a>
          </figure>    
        </div>
        <div class="c-nav__right">
          <ul class="c-menu menu ul-reset">
            <li class="menu-item">
              <a href="/shop-cart">Mi canasta</a>
            </li>
          </ul>
          Productos: {{ shopCart.length }}
        </div>      
      </nav>     
    </div>
  </header>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      context: {...panda},
    }
  },
  computed: {
    ...mapState( ['shopCart'] ),
  },
}
</script>
