<template>
  <section class="c-section c-section--home">
    <div class="grid-container margin-bottom-2 padding-vertical-1">
      <h1 class="fs-21 w-bold">Panda Canasta</h1>
      <p>
        Cantidad de productos: {{ productsCount }}
      </p>
      <div class="flex-container">
        <input v-model="product" @keyup.enter="addProduct()" type="text" class="grow-1 height-100 margin-right-1">
        <button @click="addProduct()" class="c-button c-button--primary height-100">Agregar</button>
      </div>
      <ul>
        <li v-for="pitem of products" :key="pitem.id">
          <Product :data="pitem" :collection.sync="products" />
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
// import {mapActions} from 'vuex';

export default {
  data() {
    return {
      context: {...panda},
      product: '',
      products: [],
    }
  },
  components: {
    Product: () => import(/* webpackChunkName: "product" */'../components/Product.vue'),
  },
  computed: {
    productsCount: function() {
      return this.products.length;
    },
  },
  methods: {
    // ...mapActions(['addProduct']),
    addProduct: function() {
      this.products.push({
        title: this.product
      });

      this.product = '';
    },
  },
}
</script>
