<template>
  <section class="c-section c-section--404">
    <div class="grid-container padding-vertical-2">
      <h1 class="c-section__title margin-bottom-1">Pagina de ejemplo</h1>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      context: {...panda},
    }
  },
}
</script>
