<template>
  <div class="bg-white padding-1">
    <h3 class="fs-18">{{ data.title }}</h3>
    <a :href="productLink">Ver más</a>
    <button @click="addProductToShopCart(data.title)" class="c-button c-button--primary">Añadir al carrito +</button>
    <button @click="deleteProduct()" class="c-button c-button--primary">Eliminar</button>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  props: ['data', 'collection'],
  computed: {
    productLink: function() {
      return `/product/${ this.data.title }`;
    },
  },
  methods: {
    ...mapActions( ['addProductToShopCart'] ),
    deleteProduct: function() {
      this.$emit('update:collection', this.collection.filter(pr => pr != this.data));
    },
  },
}
</script>
